<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<!-- the extension point for participants to register -->
   <extension-point id="ac.soton.eventb.probsupport.animationParticipant" name="animation participant" schema="schema/animationParticipant.exsd"/>

 	<!-- BMotion Studio is a participant -->
   <extension
         point="ac.soton.eventb.probsupport.animationParticipant">
      <animationParticipant
            class="ac.soton.eventb.probsupport.BMotionStudio.BMSAnimationParticipant"
            id="ac.soton.eventb.probsupport.BMSAnimationParticipant"
            name="BMotionStudio">
      </animationParticipant>
   </extension>

   <!--extension
         point="de.prob.core.animation">
      <listener
            class="ac.soton.eventb.probsupport.listeners.AnimationListener">
      </listener>
   </extension-->
   
   <!-- the commands -->
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.description.start"
            id="ac.soton.eventb.probsupport.StartAnimation"
            name="%command.name.start">
      </command>
      <command
            description="%command.description.stop"
            id="ac.soton.eventb.probsupport.StopAnimation"
            name="%command.name.stop">
      </command>
   </extension>
   
   <!-- the handlers -->
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ac.soton.eventb.probsupport.handlers.AnimationStartHandler"
            commandId="ac.soton.eventb.probsupport.StartAnimation">
         <activeWhen>
         	<reference definitionId = "ac.soton.eventb.probsupport.activateHandlers"/>
         </activeWhen>
      </handler>
      <handler
            class="ac.soton.eventb.probsupport.handlers.AnimationStopHandler"
            commandId="ac.soton.eventb.probsupport.StopAnimation">
         <activeWhen>
            <reference
                  definitionId="ac.soton.eventb.probsupport.activateHandlers">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   
   <!-- definitions used to enable the handlers  -->
   
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="ac.soton.eventb.probsupport.activateHandlers">
            <iterate
                  operator="or">
               <instanceof
                     value="org.eventb.core.IMachineRoot">
               </instanceof>
            </iterate>
      </definition>
   </extension>

   <!-- menu contributions -->
   <extension
         point="org.eclipse.ui.menus">
         
      <!-- toolbar button contributions -->
      <menuContribution
            allPopups="true"
            locationURI="toolbar:ac.soton.eventb.emf.diagrams.toolbar?after=animations">
         <command
               commandId="ac.soton.eventb.probsupport.StartAnimation"
               icon="icons/StartAnimation.png"
               label="%command.name.start"
               style="push"
               tooltip="%command.tooltip.start">
         </command>
         <command
               commandId="ac.soton.eventb.probsupport.StopAnimation"
               icon="icons/StopAnimation.png"
               label="%command.name.stop"
               style="push"
               tooltip="%command.tooltip.stop">
         </command>
      </menuContribution>

   	  <!-- toolbar button contributions -->
      <menuContribution
            allPopups="true"
            locationURI="popup:ac.soton.eventb.probsupport.animationMenu">
         <command
               commandId="ac.soton.eventb.probsupport.StartAnimation"
               icon="icons/StartAnimation.png"
               label="%command.name.start"
               mnemonic="S"
               style="push"
               tooltip="%command.tooltip.start">
         </command>
         <command
               commandId="ac.soton.eventb.probsupport.StopAnimation"
               icon="icons/StopAnimation.png"
               label="%command.name.stop"
               mnemonic="X"
               style="push"
               tooltip="%command.tooltip.stop">
         </command>
      </menuContribution>
   </extension>
<!-- listen to ProB animations  - scenario checker  -->  
   <extension
         point="de.prob.core.animation">
      <listener
            class="ac.soton.eventb.probsupport.AnimationListener">
      </listener>
   </extension>
<!-- end of listen to ProB animations  - scenario checker --> 
   
<!-- end of new menu handler -->

</plugin>
